# `.gitignore`

### SVN directories
.svn

### OSX noise
.DS_Store
*.pbxuser
profile

### Eclipse noise
.settings
.project
bin/*

### Flash Builder noise
.actionScriptProperties
.flexProperties
bin-debug/*
report/*
bin-test/*
docs/*
.flexLibProperties

### Windows noise
desktop.ini

### Compiled source
*.exe
*.com
*.dll
*.o
*.so
*.class

### Archives
*.zip
*.jar
*.dmg
*.rar
*.tar
*.iso
*.7z

### Logs and Databases
*.log
*.sqlite

### Project specific
WebContent/WEB-INF/lib/*
